<table class="table table-striped requests">
  <tr class="headers">
    <th>ID</th>
    <th>Title</th>
    <th>Salary</th>
    <th>Expired at</th>
    <th>Actions</th>
  </tr>
  <% jobs.each do |job|%>
    <tr>
      <td><%= job.id %></td>
      <td><%= job.title %></td>
      <td><%= number_to_currency(job.salary) %></td>
      <td><%= l job.expired_at %></td>
      <td><%= link_to "show", job_path(job), class: 'btn btn-sm btn-primary' %></td>
    </tr>
  <% end %>
</table>