<%= render partial: 'web/shared/back_link' %>

<h3>New job</h3>

<%= form_for @job do |f| %>
  <%= errors_for(@job)  %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :salary %>
    <%= f.text_field :salary, class: "form-control", type: 'number' %>
  </div>
  <div class="form-group">
    <%= f.label :expired_at %>
    <%= f.text_field :expired_at, "class" => "form-control", "data-provide" => "datepicker", "data-date-format" => "dd/mm/yyyy" %>
  </div>
  <div class="form-group">
    <%= f.label :contacts %>
    <%= f.text_area :contacts, "class" => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :skills %>
    <ul class="form-skills" data-namespace="job">
      <% skill_titles = Array(params[:job] && params[:job][:skill_titles]) %>
      <% skill_titles.each do |skill_title| %>
        <li><%= skill_title %></li>
      <% end %>
    </ul>
  </div>
  <%= f.submit 'Create', class: 'btn btn-default' %>
<% end %>
